@model Cidade
@{
    ViewData["Title"] = "Adicionar cidade";
}

<script src="~/js/Create.js"></script>
<input type="hidden" id="url-action" value="@Url.Action("AddCity", "Home")" />

@Html.AntiForgeryToken()
<div class="panel panel-default container" style="margin-top:15px">
    <div class="panel-body">
        <form method="post" id="formCidade" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-lg-4">
                    <label for="nome">Nome da cidade</label>
                    <input id="nome" type="text" class="form-control" value="" required />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-10">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                        Adicionar cidade
                    </button>
                    <a href="/" class="btn btn-warning">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Voltar
                    </a>
                </div>
            </div>
        </form>
        <div id="ok" class="text-primary"></div>
        <div id="erro" class="text-danger"></div>
    </div>
</div>
