@model IList<Cidade>
@{
    ViewData["Title"] = "Home Page";
}

<div class="panel-body">
    <div class="row">
        @if (Model != null)
        {
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Cidade</th>
                        <th>Condição</th>
                        <th>Temperatura</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nome</td>
                            <td>@item.Condicao</td>
                            <td>@item.Temperatura</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h4>Não há cidades cadastradas</h4>
        }
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Create">Cadastrar nova cidade</a>
    </div>
</div>